/* This is a space for custom animations using the AOS library */

[data-aos='hide-fade'] {
	opacity: 1;
	transition-property: opacity, transform;
	
	&.aos-animate {
		opacity: 0;
		transform: translate(0);
	}
}

[data-aos='text-underline'] {
	&::after {
		content: '';
		display: block;
		position: relative;
		height: 0.25em;
		width: 0;
		background-image: linear-gradient(90deg, rgba(234, 197, 255, 1), rgba(77, 0, 200, 1));
		transition: width 0.5s ease-out;
	}
	
	&.aos-animate::after {
		width: 100%;
	}
}