/* Fruit of the Month Club */
.fomc {
	display: grid;
	grid-template-columns: minmax(10%, auto) minmax(auto, 990px) minmax(auto, 990px) minmax(10%, auto);
	grid-gap: auto;
	grid-template-areas: 
		"hero hero hero hero"
		"... summary summary ..."
		"info info info info"
		"... statement statement ..."
		"process process process process"
		"... breakdown breakdown ..."
		"solution solution solution solution"
		"... conclusion conclusion ...";

	h1 {
		color: #436;
	}
	h2,h3 {
		font-weight: 500;
	}
}


/* Blocks of mixed content dedicated to a step within a section */
.fomc .step-block {

	img {
		display: block;
		width: 100%;
	}

}


/* Blocks of Text - Optimize for reading */
.fomc .text-block {
	display: block;
	width: 50%;
	margin: auto;

	h2,h3,h4 {
		margin: 3em 0 0.5em;
	}

	h4 {
		font-weight: 800;
	}

	p {
		line-height: 1.7;
	}

	ul,ol {
		li {
			margin-left: 1.5em;
		}
	}

	&::after {
		content: '...';
		display: block;
		margin: 1em 0 2em;
		font-size: 2em;
		letter-spacing: 8px;
		text-align: center;
	}
}

.fomc .banner > div {
	width: 80%;
	max-width: 1980px;
	padding: 3em 0;
	margin: auto;
}


/* Hero */
.fomc .hero {
	grid-area: hero;
	h1 {
		font-size: 2.25em;
		margin: auto 0;
		text-align: left;
		line-height: 1.3;
		font-weight: lighter;
	}
	img {
		max-width: 50%;
		margin-top: -2em;
	}

	&.banner {
		padding: 2em 2em 4em;
		background-image: linear-gradient(90deg, #eee5ff 40%, #a8b8ff);
	}
	
	.hero-content {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 80%;
		max-width: 1980px;
		margin: 5em auto;
	}
}


/* Summary */
.fomc .summary {
	grid-area: summary;
	display: flex;
	flex-flow: row wrap;
	padding: 4em 0;
	
	.card {
		display: inline-block;
		text-align: left;
		border-radius: 1em;
		padding: 2em 2.5em;
		margin: inherit 2em inherit 0;

		p {
			padding: 0;
			color: #000;
			font-size: inherit;
		}

		h1,h2,h3,h4 {
			font-size: 1.5em;
			font-weight: 400;
			margin-bottom: 0.75em;
		}
	}

	.quick-summary {
		position: relative;
		top: -8.5em;
		margin-right: 3em;
	}
}


/* Project Info */
.fomc .projectinfo {
	grid-area: info;

	&.banner {
		background-color: rgba(242, 244, 248, 1);
	}

	.projectinfo-content {
		display: flex;
		justify-content: space-evenly;
	}

	h3 {
		margin: 0 0 0.75em;
	}

	.skills {
		ul,li {
			list-style: none;
		}
	}


	.tools img {
		height: 4em;
		width: auto;
		margin-right: 1em;
	}
}

/* Statment */
.fomc .statement {
	grid-area: statement;

	.solution-nav {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 2em 0;
		list-style: none;
		
		.solution-nav-item {
			box-sizing: border-box;
			flex-grow: 1;
			padding: 0.5em 0;
			margin: 0;
			border-bottom: 1px solid #e0e0e0;
			text-align: center;

			&:hover {
				cursor: pointer;
			}

			&.active {
				color: rgba(15, 98, 254, 1);
				border-bottom: 2px solid rgba(15, 98, 254, 1);
			}
		}
	}

	.solution-iteration-view {
		width: 120%;
		height: auto;
		margin-left: -10%;
	}
}


/* Process */
.fomc .process {
	grid-area: process;
	min-height: 500px;

	h2 {
		position: relative;
		left: -9em;
		margin-bottom: 2em;
		color: #fff;
		text-align: center;
	}

	&.banner {
		background: rgba(14, 7, 22, 1);
	}

	.process-diagram {
		position: relative;
		width: 50%;
		margin: auto;

		img {
			display: block;
			width: 100%;
			min-width: 300px;
			max-width: 600px;
			margin: auto;
		}
	}
}


/* Breakdown */
.fomc .breakdown {
	grid-area: breakdown;

	h3 {
		display: inline-block;
	}

	.breakdown-floater {
		position: fixed;
		top: 10em;
		left: 5%;
		width: 18%;
		max-width: 250px;
		height: 50vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("../imgs/design-process-research.svg");
	}

	.ideation .breakdown-floater {
		background-image: url("../imgs/design-process-ideation.svg");
	}

	.prototype .breakdown-floater {
		background-image: url("../imgs/design-process-prototype.svg");
	}

	.test .breakdown-floater {
		background-image: url("../imgs/design-process-test.svg");
	}
}


/* Solution */
.fomc .solution {
	grid-area: solution;

	&.banner {
		background: rgba(14, 7, 22, 1);
	}

	h2 {
		color: #fff;
		text-align: center;
	}

	.solution-content {
		margin: auto;
	}
}


/* Conclusion */
.fomc .conclusion {
	grid-area: conclusion;

	.stat-bar {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 2em;
		width: 120%;
		margin-left: -10%;
		background-color: rgba(242, 244, 248, 1);
	}
}

/* ==================================================== */

/* Stat Result Utility */
.stat-result {
	display: inline-block;
	margin-right: 2em;

	.label {
		font-weight: bold;
	}

	.stat-increase,
	.stat-decrease {
		padding: 1em 0;

		&::before {
			content: "";
			display: inline-block;
			height: 3em;
			width: 2em;
			margin: 0 1em -1em 0;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.stat-increase::before {
		background-image: url("/imgs/up-arrow.svg");
	}

	.stat-decrease::before {
		background-image: url("/imgs/down-arrow.svg");
	}
}
