
header{
	grid-area: header;
	width:100%;
	background:#ffffff;
	text-align:center;
	position: relative;

	.header-item{
		padding:10px 30px;
		display: inline-block;

		&:hover{
			border-bottom: solid 2px #ff6f59;
			box-shadow: 0 13px 10px -9px rgba(255, 111, 89, 0.3);
			color: #ff6f59;
		}
	}
}

nav{
	width:100%;

	ul{
		margin:0;
		padding:0;
		list-style:none;

		li {
			display: block;
		}

		a{
			font-weight:bold;
			color:#454545;
			text-decoration:none;
		}
	}
	
}