
/*==================== MUURI ====================*/
.grid {
	position: relative;
	width: 100%;
	padding: 1em;
	grid-auto-rows: minmax(300px, auto);
	grid-auto-columns: minmax(370px, auto);
	justify-items: stretch;
	text-align: center;
	background-color: #f8fbff;
}

.item {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	margin: 2em;

	img{
	border-radius: 15px;
	}
}

.item-content {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	color: #ffffff;
	background: #59687d;
	text-align:center;
}