/* =============== GLOBAL =============== */
html{
	font-size: 10px;
}

body{
	padding-top: 0em;
    color: #585858;
	font-family: Raleway, sans-serif;
	font-size: 1.8rem;
	margin: auto;
	line-height: 1.8em;
}

main{
	position: relative;
	overflow: hidden;
}

h1{
	text-align: center;
	font-size: 3.6rem;
	color: #22181c;
	margin: 0 0 2em 0;
}

h2{
	text-align: left;
	font-size: 2.8rem;
	color: #000b3e;
	margin: 0.5em 0;
	display: block;
}

h3{
	text-align: left;
	font-size: 2.2rem;
	color: #292828;
	margin: 0.2em 0;
}

h4, h5, h6 {
	color: #383838;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

p{
	margin:0 0 1em 0;
}

a{
	text-decoration: none;
	font-weight: 600;
	color: #4192BC;
}

b{
	color: #ff6f59;
}

a:hover{
	color: #db504a;
}


header{
	width:100%;
	background:#ffffff;
	text-align:center;
	position: relative;
}

nav{
	width:100%;
}

nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

nav ul li {
	display: block;
	
}

.header-item{
	padding:10px 30px;
	display: inline-block;
}

.header-item:hover{
	border-bottom: solid 2px #ff6f59;
	box-shadow: 0 13px 10px -9px rgba(255, 111, 89, 0.3);
	color: #ff6f59;
}

nav ul a{
	font-weight:bold;
	color:#454545;
	text-decoration:none;
}

.typer{
	color: #3f3f3f;

}

.txt-type{
	color: #ff6f59;
}


}

/*----------------------- SVG -------------------------*/
.svg_wrapper{
	width: 100%;
	position: relative;


}

.girl{
	fill:none;stroke:#3F3F3F;
	stroke-miterlimit:10;
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 5s linear forwards;
}

.eye{
	fill:#3f3f3f;stroke:none;
	stroke-miterlimit:10;
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 5s linear forwards;
}


.bulb{
	fill:none;stroke:#3F3F3F;stroke-width:0.9728;stroke-miterlimit:10;
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 3s linear forwards;
  	-webkit-animation-delay: 1s;

}

.color{
	fill:#ffff99;stroke:none;stroke-width:0.9728;stroke-miterlimit:10;
	opacity: 0;
  animation: colorIn 1s 2s ease-out forwards;
}

@keyframes colorIn {
  from {opacity:0;}
  to {opacity: 1;}
}

.laptop{
	fill:none;stroke:#3F3F3F;stroke-width:1.2194;stroke-miterlimit:10;
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 3s linear forwards;
  	-webkit-animation-delay: 1s;

}

.light{
	fill:none;stroke:#3F3F3F;stroke-width:0.9728;stroke-miterlimit:10;
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 5s linear forwards;
  	-webkit-animation-delay: 2s;
}


.coffee{
	fill:none;stroke:#3F3F3F;stroke-width:1.2194;stroke-miterlimit:10;
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 8s linear forwards;

}

.desk{
	fill:none;stroke:#3F3F3F;stroke-width:1.2194;stroke-miterlimit:10;
	stroke-dasharray: 1000;
  	stroke-dashoffset: 1000;
  	animation: dash 8s linear forwards;

}



@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}



/*---------------------------*/
.box{
	width: 100px;
	height: 50px;
	font-size:10px;
	text-align:center;
	background: #FAF8F8;
	border-bottom:solid 1px #ccc;
	box-sizing:border-box;
	padding:10px;
}


/*----------------------- FLIP -------------------------*/


#flipcontainer {
  color:#999;
  text-transform: uppercase;
  font-size:24px;
  font-weight:bold;
  position:absolute;
  width:50%;
  display:block;
  margin: auto;
  margin-top: 10em;
  margin-left: 10em;
  text-align: center;
  z-index: 1000;


}

#flip {
  height:50px;
  overflow:hidden;

}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;

}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#000000;
}
#flip div:first-child div {
  background:#000000;
}
#flip div:last-child div {
  background:#000000;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

/* =============== PROJECTS =============== */
.projectinfo{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;

}

.stats{
	display: flex;
	justify-content: space-around;
}

.number{
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}

.roundphoto{
	border-radius: 100%;
	margin-bottom: 2em;
}

.greeting {
	width: 64%;
    padding: 2em;
    text-align: left;
    margin:1rem auto;
}

.greeting img{
	max-width:100%;
	height:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.about{
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 30%;
    margin:0 auto 2em auto;


}

.project_content{
	width: 70%;
    padding: 2em;
    text-align: left;
    margin:2em auto;
}

.about_content{
	width: 70%;
    padding: 2em;
    text-align: left;
    margin:2em auto;
}
}

.project_content li{
	margin: 0 auto;
}

.project_content ol,ul{
	margin: 2em auto;
}

.project_content h1{
    text-align: center;
    font-size: 3.6rem;
    color: #22181c;
}

.project_content h2{
	margin-top: 1em;
}

.hero{
	width: 100%;
	margin: -1rem 0;
}

.bg{
	background-color: #f9f9f9;
	padding: 3rem 0;

}


.bg_ivory{
	background-color: rgba(0, 0, 0, 0.04);
	padding: 3em 0;
	margin-left: -300vw;
  	padding-left: 300vw;
  	margin-right: -300vw;
  	padding-right: 300vw;

}

.bg_white{
	padding: 3em 0;
}

.prototype_button{
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    border-radius: 40px;
    background-color: white;
    color: #ff6f59;
    border: 1px solid #ff6f59; 

}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, -4px, 0); }
}


.prototype_button:hover {
    background-color: #ff6f59; 
    color: white;
    cursor: pointer;
    animation: bounce .5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

/* ==================== PHOTO ==================== */
.photowrap{
	width: 70%;
    padding: 0 0 5em 0;
    margin:auto;
    background-color: #f9f9f9;

}

.photo-grid{
	text-align: center;

	display: block;
}

/*.project_item{
	height: 20em;
	width: 20em;
	margin: 1em 0;
}*/

.project_photowrap{
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	margin: 2em 0;

}

.gd-item{
	display: inline-block;
	height: 20em;
	margin: 1em;
}

.flex-container{
	 display: flex;
	  -webkit-flex-flow: row wrap;
	  justify-content: space-around;

}



/* ---------------------- HOME HOVER ---------------------------*/
.mix-overlay {
  background: rgba(14,9,11,0.5);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 2em;
  
}

.mix:hover .mix-overlay{
  opacity: 1;
}

.mix-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.mix:hover .mix-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.mix-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  text-align: left;
}

.mix-details p{
  color: #fff;
  text-align: left;
}

.fadeIn-top{
  top: 20%;
}

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

/* ---------------------- MIX IT UP-------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
}

.mix {
    background: #fff;
    border-radius: 5%;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}

.buttons{
	text-align: center;
	margin: 2em;
}

.button {
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 40px;
    background-color: white;
    color: #ff6f59;
    border: 1px solid #ff6f59; 
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, -4px, 0); }
}


.button:hover {
    background-color: #ff6f59; 
    color: white;
    cursor: pointer;
    animation: bounce .5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

.mix_container {
    text-align: center;
 
}

.mix_container:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.mix_container img{
	border-radius: 2em;
}

/*==================== MUURI ====================*/
.grid {
 	position: relative;
  	width: 100%;
  	padding: 1em;
	grid-auto-rows: minmax(300px, auto);
	grid-auto-columns: minmax(370px, auto);
	justify-items: stretch;
	text-align: center;
	background-color: #f8fbff;
}

.item {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  margin: 2em;

}

.item img{
	border-radius: 15px;
}

.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #ffffff;
  background: #59687d;
  text-align:center;
}

.item.muuri-item-dragging .item-content{
  background: #8993a2;
}
.item.muuri-item-releasing .item-content{
  background: #152c43;
}




/*------------------------ CARD --------------------------*/
.card_wrap{
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 70%;
    padding: 2em 0;
    text-align: left;
    margin:1rem auto;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
  flex-basis: 30%;
  text-align: center;
  position: relative;
  margin: 1em;
  padding: 1em 0;
  background-color: white;
  min-width: 300px;
  max-width: 600px;


}

/*.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

.card p{
	padding: 0 2em;
	text-align: left;
	font-size: 1.5rem;
}

.card h4{
	text-align: center;
}

.card img{
	width: 20%;
	height: auto;
	margin: 1em 0;
}

/*==================== FORM ====================*/

	.contact_flex{
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	padding: 2em;
}

.contact_image{
	margin: auto 0;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ffffff;
  color: black;
  padding: 12px 20px;
  border: solid 1px;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #000000;
  color: white;
  margin: auto;
}

/* Add a background color and some padding around the form */
.contact {
  border-radius: 5px;

  padding: 20px;
}

.errormsg{
	display: none;
}


/*==================== FOOTER ====================*/
.footer {
	position: relative;
	background: #db504a;
	padding: 1em 10%;
	text-align: center;
}

.footer p{

	color: #22181c;
	font-size: 12px;
}

.footer .icons{
	list-style: none;
	margin: auto;
}

.footer-icon{
	margin: 0.5rem;
	display: inline-block;
}

.icons a{
	color: #fff;
}


/*==================== RWD ====================*/
@media only screen and (min-width: 1200px) {

	nav{
	    flex: 1;
		padding:0px;
		text-align:right;
	}

	nav ul{
		padding:20px;
		box-sizing:border-box;	
	}

	nav ul li{
		display: inline;
	}

	/*.header{
		display: flex;
		justify-content:space-between;

	}*/

	.project_item{
		display: inline;
	}

	.header-logo {
	    position: fixed;
	    left: 1em;
	    z-index: 1000;
	}

	/*.contact_image{

		margin: auto 0;
	}*/

	.header-nav{
		position: fixed;
		z-index: 999;
		background-color: rgba(255, 255, 255, 0.8);
	}

	.header-item {
    border-bottom: solid 2px transparent;
	}

	main{
		position: relative;
		overflow: hidden;
		padding: 6em 0;
	}

	.typer{
		position: absolute;
		margin-left: 7em;
		margin-top: 8em;
		color: #3f3f3f;

	}

	.txt-type{
		color: #ff6f59;
	}

	.greeting h1{
		margin-top: 2em;
	}



	.greeting img{
		width: 30%;
	}

	.svg_wrapper{
		margin-top: 2em;
	}

}

@media only screen and (max-width: 1199px) {
	.greeting img{
	width: 40%;
	}

	.project_content img{
		width: 100%;
		height: auto;
	}



}



@media only screen and (max-width: 900px){
	.card_wrap{
		display: block;


	}

	.card{
		margin-right: auto;
		margin-left: auto;

	}

	.project_content img{
		width: 100%;
		height: auto;
	}


}

@media only screen and (min-width: 768px) {



	nav ul li{
		display: inline;
	}

	.header-item{
		border-bottom:solid 2px #585858;
	}

	.header-logo{
		margin: 1em;
	}

	/*.contact_image{
		text-align: center;
		margin: 2em auto;
	}*/

	main{
	position: relative;
	overflow: hidden;
	padding: 1em 0;
	}

	.project_content {
    /* width: 70%;*/ 
    text-align: left;
    margin:  auto;
	}

	.project_content img{
		width: 100%;
		height: auto;
	}





}


@media only screen and (max-width: 767px){

	.header-item{
		border-bottom:solid 2px #22181c;
		width: 100%;
		padding: 10px 0px;
	}

	.header-item:hover{
	background-color: #22181c;
	color: #ffffff;
	border-bottom:solid 2px #22181c
	}

	nav li:first-child .header-item{
		border-top:solid 2px #22181c;

	}


	nav {
		margin: 1.0em 0 0 0;
	}

	.header-logo{
		margin: 1em;
	}

	/*.input100 {
	    display: block;
	    width: 80%;
	    background: #fafafa;
	    font-family: Raleway;
	    font-size: 15px;
	    line-height: 1.5;
	    color: #666666;
	}*/

	/*.contact_image{
		text-align: center;
		margin: 2em auto;
	}*/

	h1{
		font-size: 2.5rem;
	}

	h2{
		font-size: 2rem;

	}

	.typer{
	font-size: 1.5em;
	}

	.project_content{
		width: 100%;
	}

	.project_content h1{
		font-size: 1.5em;
	}

	.project_content h2{
		font-size: 1.2em;
	}

	.project_content h3{
		 font-size:1em;
	}

	.project_content img{
		width: 100%;
		height: auto;
	}

	.video{
		width: 100%;
		height: auto;
	}

	.projectinfo{
		display: block;
	}

	.about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 70%;
    margin: 0 auto 2em auto;

}

@media only screen and (max-width: 600px){
	.project_content{
		width: 100%;
	}

	.project_content h1{
		font-size: 1.5em;
	}

	.project_content h2{
		font-size: 1.2em;
	}

	.project_content h3{
		 font-size:1em;
	}

	.project_content img{
		width: 100%;
		height: auto;
	}

	.project_content iframe{
		width: 100%;
		height: auto;
	}

	.projectinfo{
		display: block;
	}

	.buttons{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.button{
		max-width: 50%;
	}

	.footer p{
		font-size: 0.9em;
	}

	.mix img{
		width: 90%;
	}

	.card{
		display: block;
		text-align: center;
		width: auto;
		height: auto;
		background-color: white;

	}

	.card_wrap{
		width: auto;
		height: auto;
		display: block;
		position: relative;
		text-align: center;
	}

	.greeting img{
		width: 80%;
		height: 80%;

	}

	.typer{
		font-size: 1em;
	}	

	.txt-type{
		font-size: 1em;
	}

	.greeting{
		width: 90%;
	}

}